.sidebar-frame {
    border-radius: 2%;
}

.my-modal {
    background-color: #1f2251;
    margin-top: -5%;
}
  
  .my-modal .modal-header {
    background-color: #1f2251;
  }
  
  .my-modal .modal-body {
    background-color: #1f2251;
  }