.sidebar-frame {
    border-radius: 2%;
}

.my-modal {
    background-color: #171941;
    border-radius: 15%;
}
  
  .my-modal .modal-header {
    background-color: #171941;
    color: white;
  }
  
  .my-modal .modal-body {
    background-color: #171941;
  }