@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/leaflet/dist/leaflet.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 999999s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}

@media (max-width: 768px) {
    .content {
      margin-top:25% !important;
    }
}

.content {
  margin-top:10%;
  text-align: center;
  color:#ffffff;
}


.footer {
  margin-top: 25%;
}


