.map-container {
    position: relative;
    border-radius: 2%;
    height: 600px;
  }
  
  .map-frame {
    border-radius: 2%;
  }
  
  #map {
    height: 100%;
    border-radius: 2%;
  }

  @media (max-width: 768px) {
    .map-frame {
      height:90%;
    }
  }