.assignments-table {
    height:100%;
    border-radius: 2%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.assignments-table::-webkit-scrollbar {
    display: none;
}

.current-assignment {
    margin-bottom: 5%;
}

.current-assignment .current-assignment-header {
    margin-bottom: 0%;
}

.current-assignment .current-assignment-actions {
    margin-bottom: 2%;
}

.current-assignment .current-assignment-timer {
   margin-bottom: 5%;
}

.current-assignment .current-assignment-info {
    margin-bottom: 0%;
}
.current-assignment .current-assignment-info p {
    font-size: 1rem;
}